html {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    // padding-left: 20px;
    // padding-right: 20px;
    overflow-x: hidden;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

@import './all_blocks/headers';
@import './all_blocks/fonts';
@import './all_blocks/section__one';
@import './all_blocks/catygor';
@import './all_blocks/footer';
@import './all_blocks/in__hero';
@import './all_blocks/regestr';
@import './all_blocks/us';
@import './all_blocks/buisbes';