@font-face {
    font-family: 'inter';
    src: url(/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: 'sen';
    src: url(/fonts/Sen-Bold.ttf);
}

@font-face {
    font-family: 'ragu';
    src: url(/fonts/Inter-Regular.ttf);
}